@import "../../../index.scss";
nav {
  .navbar-brand {
    color: $text-color !important;
    font-family: "Orbitron", sans-serif;
  }
  .navbar-togglercus {
    display: none;
  }
  .nav-link {
    color: $text-color !important;
    font-size: $mediumfont-size;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-right: 10px;
    padding: 5px 0;
  }
  .activeMenu {
    color: $light-color !important;
    font-weight: 510;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 8px;
      width: 60%;
      height: 4px;
      background: $light-color;
      border-radius: 10px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar-togglercus {
    display: block !important;
  }
  .navbarres {
    display: flex;
    margin-bottom: 5px;
    .navlogoSection {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        background: transparent;
        border: none;
        outline: none;
        padding: 5px;
        cursor: pointer;
      }
    }
    .listofmenu {
      display: none;
    }
    .listofmenuShow {
      display: block;
    }
    .activeMenu {
      &::after {
        content: "";
        display: none;
      }
    }
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
